
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .input-group{
    max-width:200px;
    }
    p,th,td, .board-label, .board-input, .board-input-solid, .back-anchor {font-size:2.5rem;}
    .alert{
        font-size: 2rem;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:5rem;} /*1rem = 16px*/
    h4 {font-size: 3rem;}
.input-group{
    max-width:200px;
}
    
}


@font-face { font-family: chalky; src: url('../font/DJB Chalk It Up.ttf'); }
body, .modal-body{
    background: black url('../img/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg'
    ) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 70px;  
}

.jumbotron, .navbar, .modal-content{
    background-image: url(../img/seigaiha.png);}

.jumbotron, #myModal{
    font-family: chalky;
}

a{
    color: deepskyblue;
}

a:hover{
    color:#A4D5F3
}

#blackboard{
    font-family: chalky;
}

h1,h2,h3, p, th, td, .board-label{
    color: whitesmoke;
}

p{
    font-size: 2.5rem;
}

/*th, td{*/
    /*font-size: 2rem;*/
/*}*/

.board-input, .dashed-input, .board-input-solid{
    width:100%;
    background-color: transparent;
    color: whitesmoke;
}

.board-input{
    border: none;
    border-bottom: solid;
}

.board-input-solid{
    border: solid;
}

.dashed-input{
    border: dashed;
}


th, .white-bg, .blackboard-button{
    background-image: url(../img/Chalky.jpg);
    color:black;
    background-size: contain;
}


#event-data, #loading, #admin-board, #table-invisible, #admin-btns{
    display:none;
}

#add-event-button{
    margin-right: 20px;
    margin-bottom: 20px;
}
table tr th {
  width: 25%;
}

 .col-centered{
     float: none;
     margin: 0 auto;
 }

 .list-event {
     display: flex;
     justify-content: space-between;
 }

 .color-blk{
     color: black;
 }
 .close-data{
     color:black;
     margin-right: 10px;
     font-size: 2.5em;
     opacity: 0.7;

 }

 .data-content, .input-area, .text-area{
     padding: 8px;
     border-top:0;
     border-style: dashed;
     border-color: whitesmoke;
     border-bottom-left-radius: 8px;
     border-bottom-right-radius: 8px;

 }

 .event-info{
     min-height: 250px;
 }

 #filter-well{
     border-style: dashed;
     border-color: whitesmoke;
     border-radius: 8px;
     margin-bottom: 20px;
 }

.data-footer{
    color:whitesmoke;
    border-top: solid;
    border-width: 2px;
    padding-top: 10px;
}

 .blackboard-button{
     font-size: 1.5em;
 }


#login-form{
    display: block; 
}

.delete{
    color: #d9534f;
}

.edit{
    color: #5cb85c;
}